{% extends "base.html" %}

{% block title_block %}
    {% if user.is_authenticated %}
        {{ selecteduser.username }} Wall
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <br/>
        <form method="post" action="/add_post/" enctype="multipart/form-data" id="post_form">
            {% csrf_token %}
            <textarea rows="4" name="post_text" id="post_text">Enter Post text here...</textarea>
            <input id="post_author_id" name="post_author_id" type="hidden" value="{{user.userprofile.id}}"/>
            <input id="post_wall_id" name="post_wall_id" type="hidden" value="{{user.userprofile.userwall.id}}"/>
            <p><button type="submit" class="btn btn-default" id="add_post">Add post</button></p>
        </form>


    {% include 'profiles/list_posts.html' %}

    {% else %}
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_login' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registration_register' %}">Sign Up</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}