{% extends "base.html" %}

{% block title_block %}
    {% if user.is_authenticated %}
        {{ selecteduser.username }} Wall
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <br/>

    {% include 'profiles/add_post_form.html' %}

    {% include 'profiles/list_posts.html' %}

    {% else %}
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_login' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registration_register' %}">Sign Up</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}