<form method="post" action="/add_note/" enctype="multipart/form-data" id="post_form">
    {% csrf_token %}
    <textarea class="form-control" rows="4" name="note_text" id="post_form_text" placeholder="Enter Post text here..."></textarea>
    <input id="post_form_author_id" name="author_id" type="hidden" value="{{user.userprofile.id}}"/>
    <input id="post_form_parent_id" name="parent_id" type="hidden" value="{{userprofile.userwall.id}}"/>
    <input type="hidden" name="_class" value="Post" />
    <p><button type="submit" class="btn btn-default" id="add_post">Add post</button></p>
</form>