<div class="post_list list-group">
        {% for post in user.userprofile.userwall.post_set.all %}
            <div class="post list-group-item list-group-item-action flex-column align-items-start" id="post_{{ post.id }}">
                <div class="d-flex w-100 justify-content-between">
                    <small>{{ post.author }}</small>
                    <small>{{ post.date }}</small>
                </div>
                <p class="mb-1">{{ post.text }}</p>
                <form class="form-inline">
                    <div class="form-group">
                        <small><label for="comment">Comment:</label></small>
                        <textarea type="text" class="form-control form-control-sm" id="comment" rows="1" cols="50"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default btn-sm">Submit</button>
                </form>
                {% if post.comment_set.all %}
                <small>Comments:</small>
                {% endif %}
            </div>
        {% endfor %}
</div>
