<div class="post_list list-group">
    {% for post in userprofile.userwall.post_set.all %}
        <div class="post list-group-item list-group-item-action flex-column align-items-start" id="post_{{ post.id }}">
            <div class="d-flex w-100 justify-content-between">
                <small class="author">{{ post.author }}</small>
                <small class="date">{{ post.date }}</small>
                {% if user.userprofile == post.author %}
                    <form method="post" action="/remove_post/" class="remove_post_form">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <input type="hidden" name="userprofile_id" value="{{user.userprofile.id}}">
                        <button type="submit" class="btn btn-default btn-sm" id="remove_post_{{post.id}}">x</button>
                    </form>
                {% endif %}
            </div>
            <div class="pull-right post_field">
                <a class="mb-1 post_text">{{ post.text }}</a>
                {% if user.userprofile == post.author %}
                <button class="btn btn-default btn-sm edit_post"
                        data-postid="{{post.id}}"
                        data-text="{{post.text}}">
                    Edit
                </button>
                {% endif %}
            </div>

            <div class="pull-right">
                <button data-postid="{{post.id}}"
                        data-profileid="{{userprofile.id}}"
                        class="like_post btn btn-primary btn-sm"
                        type="button">
                    {% if userprofile in post.likes.all %}
                        unLike
                    {% else %}
                        Like
                    {% endif %}
                </button><span class="post_likes_count"> {{post.likes.count}}</span>
            </div>
            {% include 'profiles/list_comments.html' %}
        </div>
        <br>
    {% endfor %}
</div>
