{% if post.comment_set.count %}
    <small>Comments:</small>
    {% for comment in post.comment_set.all %}
        <div class="comment list-group-item list-group-item-action flex-column align-items-start"
             id="comment_{{ comment.id }}">
            <div class="d-flex w-100 justify-content-between">
                <small>{{ comment.author }}</small>
                <small>{{ comment.date }}</small>
                {% if user.userprofile == comment.author %}
                    <form method="post" action="/remove_comment/" class="remove_comment_form">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{comment.id}}">
                        <input type="hidden" name="userprofile_id" value="{{user.userprofile.id}}">
                        <button type="submit" class="btn btn-default btn-sm" id="remove_comment_{{comment.id}}">x</button>
                    </form>
                {% endif %}
            </div>
            <p class="mb-1">{{ comment.text }}</p>
            <div class="pull-right">
                <button data-commentid="{{comment.id}}"
                        data-profileid="{{userprofile.id}}"
                        class="like_comment btn btn-primary btn-sm"
                        type="button">
                {% if userprofile in comment.likes.all %}
                    unLike
                {% else %}
                    Like
                {% endif %}
                </button>
                <span class="comment_likes_count"> {{comment.likes.count}}</span>
            </div>
        </div>
    {% endfor %}
{% endif %}
<div class="form-control">
    <form class="form-inline" method="post" action="/add_comment/" enctype="multipart/form-data" id="comment_form">
        {% csrf_token %}
        <div class="form-group">
            <small><label for="comment_text">Comment:</label></small>
            <textarea type="text" class="form-control form-control-sm"
                      id="comment_text" name="comment_text" rows="1" cols="50"></textarea>
            <input id="comment_author_id" name="comment_author_id" type="hidden" value="{{user.userprofile.id}}"/>
            <input id="post_id" name="post_id" type="hidden" value="{{post.id}}"/>
        </div>
        <button type="submit" class="btn btn-default btn-sm" id="add_comment">Submit</button>
    </form>
</div>
