{% if post.comment_set.count %}
    <small>Comments:</small>
    {% for comment in post.comment_set.all %}
        <div class="comment list-group-item list-group-item-action flex-column align-items-start"
             id="comment_{{ comment.id }}">
            <div class="d-flex w-100 justify-content-between">
                <small class="author">{{ comment.author }}</small>
                <div class="d-flex">
                    <small class="date">{{ comment.date }}</small>
                    {% if user.userprofile == comment.author %}
                        <form method="post" action="/remove_note/" class="remove_comment_form">
                            {% csrf_token %}
                            <input type="hidden" name="note_id" value="{{comment.id}}">
                            <input type="hidden" name="_class" value="Comment" />
                            <input type="hidden" name="userprofile_id" value="{{user.userprofile.id}}">
                            <button type="submit"
                                    class="btn btn-default btn-sm"
                                    id="remove_comment_{{comment.id}}">
                                &times;
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex w-100 justify-content-between comment_field">
                <a class="mb-1 note_text">{{ comment.text }}</a>
                {% if user.userprofile == comment.author %}
                    <button class="btn btn-link btn-sm edit_note"
                            data-noteid="{{comment.id}}"
                            data-class="Comment"
                            data-text="{{comment.text}}">
                        Edit
                    </button>
                {% endif %}
            </div>
            <div class="pull-right">
                <button data-objectid="{{comment.id}}"
                        data-profileid="{{userprofile.id}}"
                        data-class="Comment"
                        class="like btn btn-primary btn-sm"
                        type="button">
                {% if userprofile in comment.likes.all %}
                    unLike
                {% else %}
                    Like
                {% endif %}
                </button>
                <span class="likes_count"> {{comment.likes.count}}</span>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% include 'profiles/add_comment_form.html' %}
