{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}{{ selecteduser.username }} Profile{% endblock %}



{% block sidebar_block %}
    <h1>{{ selecteduser.username }}'s profile</h1><br/>
    {% if userprofile.avatar %}
        <img src="{{ MEDIA_URL }}{{ userprofile.avatar }}" width="300" height="300" alt="{{ selecteduser.username }}" />
    {% else %}
        <p>No image was uploaded</p>
    {% endif %}
    <br/>
    <div>
        {% if selecteduser.username == user.username %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update" />
            </form>
            <div id="edit_profile">
                <a href="{% url 'auth_password_change' %}">Change Password</a>
            </div>
        {% else %}
            <div id="user_relation_status">
            {% if user.userprofile in userprofile.friends.all %}
                <button id="remove_friend" data-requesterid="{{user.userprofile.id}}" data-profileid="{{userprofile.id}}">
                    Remove friend
                </button>
            {% elif user.userprofile in userprofile.friend_requests.all %}
                Friend request pending...
                <button id="cancel_friend_request" data-requesterid="{{user.userprofile.id}}" data-profileid="{{userprofile.id}}">
                    Cancel
                </button>
            {% else %}
                <button id="send_friend_request" data-requesterid="{{user.userprofile.id}}" data-profileid="{{userprofile.id}}">
                    Send friend request
                </button>
            {% endif %}
            </div>
            <br>
            <p>Name: {{ userprofile.first_name }}</p>
            <p>Surname: {{ userprofile.last_name }}</p>
            <p>Birthday: {{ userprofile.birthday }}</p>
            <p>Town: {{ userprofile.town }}</p>
            <p>Relationship: {{ userprofile.relationship }}</p>
        {% endif %}
    </div>
    <br>

{% endblock %}

{% block body_block %}
    <br>
    {% include 'profiles/add_post_form.html' %}
    {% include 'profiles/list_posts.html' %}
{% endblock %}
