{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}{{ selecteduser.username }} Profile{% endblock %}

{% block body_block %}
    <h1>{{ selecteduser.username }}'s profile</h1>
    {% if userprofile.avatar %}
        <img src="{{ MEDIA_URL }}{{ userprofile.avatar }}" width="300" height="300" alt="{{ selecteduser.username }}" />
    {% else %}
        <p>No image was uploaded</p>
    {% endif %}
    <br/>
    <div>
        {% if selecteduser.username == user.username %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update" />
            </form>
        {% else %}
            <!--<p><strong>Website</strong><a href="{{userprofile.website}}">{{userprofile.website}}</a></p>-->
        {% endif %}
    </div>
    <div id="edit_profile"></div>
{% endblock %}
