{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}{{ selecteduser.username }} Profile{% endblock %}



{% block sidebar_block %}
    <h1>{{ selecteduser.username }}'s profile</h1><br/>
    {% if userprofile.avatar %}
        <img src="{{ MEDIA_URL }}{{ userprofile.avatar }}" width="300" height="300" alt="{{ selecteduser.username }}" />
    {% else %}
        <p>No image was uploaded</p>
    {% endif %}
    <br/>
    <div>
        {% if selecteduser.username == user.username %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update" />
            </form>
            <div id="edit_profile">
                <a href="{% url 'auth_password_change' %}">Change Password</a>
            </div>
        {% else %}
            <!--<p><strong>Website</strong><a href="{{userprofile.website}}">{{userprofile.website}}</a></p>-->
        {% endif %}
    </div>
    <br>

{% endblock %}

{% block body_block %}
    {% include 'profiles/list_posts.html' %}
{% endblock %}
